body{
    background: url("../imgs/footer_lodyas.png");
    padding-top: 80px;
}

.panel{
    margin-bottom: 5px;
}

.navbar-brand img{
	width: 40px;
	float: left;
	margin-top: -7px;
}

.navbar-brand span{
	float: left;
	padding-left: 5px;
}

#user_image_header{
	width: 40px;
	margin-top: 5px;
}

.menu-nav-left .listgroup a{
    border-radius: 0px;    
}

.conteudo_panel{
    background: white;
    border-radius: 8px;
    border: 1px solid;
    color:black;
}

.conteudo_panel_int{
    margin: 8px;
    padding-bottom: 15px;
    min-height: 400px;
}

.user_label{
	padding-right:10px;
	padding-top:5px;
	color:white;
	text-align: right;
	float:right;
}

.user_label span{
	font-weight: bold;
}

.dropdown{
	float: right;
}

.dropdown img{
	float: left;
}

.dropdown a{
	float: left;
}	

.chart-dashboard{
	height: 200px;
	float: left;	
    box-shadow: 1px 1px 5px #888888;
    border-radius: 10px;
}